<!-- Footer -->
<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-about">
      <h3>About SovereignQuest</h3>
      <p>Crafted by a passionate community of gamers from every age and genre of TTRPGs, SovereignQuest is more than just a project—it's our mission to unite the beloved worlds of tabletop role-playing games with the thrilling new mecahnics in LitRPGs. Join us and be part of the journey that transforms tabletop gaming into an immersive, story-driven experience like never before.</p>
    </div>
    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h3>Contact Us</h3>
      <p>Email: support@sovereignquest.com</p>
      <div class="social-media">
        <a href="#"><i class="fab fa-tiktok"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-discord"></i></a>
      </div>
    </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 All Rights Reserved | SovereignQuest</p>
    <p>&copy; 2024 LEN Creative. All rights reserved.</p>
  </div>
</footer>
