<header class="site-header">
    <div class="logo-wrapper">
        <!-- Wrap the logo and site title in an anchor tag -->
        <a href="index.html" class="logo-link">
            <img src="../../assets/images/logos/SovereignQuest.png" alt="LEN Creative VTT Logo" class="logo-image" />
            <span class="logo-title">Sovereign Quest</span>
        </a>
    </div>

    <div class="nav-and-toolkit">
        <nav class="navigation">
            <li><a href="index.html">Home</a></li>
            <li class="dropdown">
                <a href="#" class="account-display dropdown-trigger">Features <i class="fas fa-caret-down"></i></a>
                <ul class="dropdown-content">
                    <li><a href="#">Map and Grid System</a></li>
                    <li><a href="#">Token Management</a></li>
                    <li><a href="#">Dice Rolling Mechanics</a></li>
                    <li><a href="characters.html">Character Manager</a></li>
                    <!-- Add more feature links as needed -->
                </ul>
            </li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#" class="btn-login">Login</a></li>
        </nav>

        <!-- Mobile Menu Toggle -->
        <div class="mobile-menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>
