/* Header styles */
.site-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: top 0.3s;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  padding-left: 150px;
  background-color: #333;
  color: white;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  flex: 0 0 auto; /* Do not grow, do not shrink, and base size on the content */
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Removes underline from link */
  color: inherit; /* Inherits the color from the parent element */
}

.logo-image {
  height: 80px;
  width: 80px;
  border-radius: 50%; /* Makes it circular */
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

.logo-title {
  font-family: "Gideon Roman", serif;
  margin-left: 1rem;
  font-size: 2.5rem;
  color: #5b92e5; /* UN blue color */
  font-weight: bold;
  display: flex;
  align-items: center; /* Centers text vertically */
}

/* Navigation and Toolkit wrapper */
.nav-and-toolkit {
  display: flex; /* Aligns navigation and toolkit dropdown inline */
  align-items: center; /* Centers items vertically */
  justify-content: start; /* Align items to the start */
  flex-wrap: wrap; /* Allow items to wrap if needed */
}

/* Navigation link styles */
.site-header .navigation a,
.toolkit-dropdown > a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-weight: bold;
}

.site-header .navigation a:hover,
.toolkit-dropdown > a:hover {
  text-decoration: underline;
}

/* Toolkit Dropdown */
.toolkit-dropdown {
  position: relative;
}

/* Styles for the Enable Ethereum Button */
.enableEthereumButton {
  background-color: var(--button-background);
  color: var(--text-color-main);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-weight: bold;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
  display: inline-block;
  margin: 0.5rem 0;
  border: none;
}

.enableEthereumButton:hover {
  background-color: var(--button-hover-background);
}

/* Styles for the Account Display */
.showAccount {
  background-color: var(--button-background);
  color: var(--text-color-main);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-weight: bold;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  margin: 0.5rem 0;
  border: none;
}

/* Additional style for account icon */
.account-icon {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  margin: 0 0.5rem;
}

.account-display {
  position: relative;
  display: inline-block;
}

/* Dropdown Content Styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhanced shadow for depth */
  z-index: 1;
  border-radius: 5px; /* Slightly rounded corners */
}

.dropdown-content a {
  color: black; /* Ensuring text color is black for visibility */
  padding: 12px 16px;
  text-decoration: none; /* Removing underline */
  display: block;
  font-weight: normal; /* Normal text weight for dropdown links */
}

/* Apply border-radius to first and last child */
.dropdown-content a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-content a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-content a:hover {
  background-color: var(
    --background-color-alternate
  ); /* Hover background color */
  text-decoration: none; /* Ensuring no underline on hover */
}
